@import '../../../assets/styles/_variables';

header {
    nav {
        display: flex;
        justify-content: space-between;

        .logo {
            padding: .5rem;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        ul {
            display: flex;
            list-style-type: none;

            li {
                a {
                    color: $dark-gray;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {
    header {
        nav {

            .menu {
                padding: 1rem;

                button {
                    background-color: transparent;

                    &, &:hover, &:active, &:focus, &:active:focus {
                        border: none;
                        outline: none;
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}